/vendor
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.gem
Gemfile.lock
.bundle
.ruby-version

test/dest
.bridgetown-metadata
.bridgetown-cache
.bridgetown-webpack

.env
